#replies {
	clear: both;
	overflow: auto;
	background: #fff;
	padding-top: 64px;
	border-bottom: 1px solid #e4e6eb;
}
.nocomments {
	display: none;
}
.commentlist {
	position: relative;
	list-style: none;
	margin: 0 0 48px;
	padding: 0;
}
.commentlist li {
	position: relative;
	padding: 0;
	margin: 0;
}
.commentlist li:after {
	position: absolute;
	content: '';
	left: 47px;
	top: 48px;
	width: 1px;
	height: 100%;
	background: #757a80;
	z-index: 2;
}
.commentlist li:last-child:after {
	display: none;
}
.commentlist li.depth-1.parent:last-child:after {
	display: block;
}
.commentlist li.depth-1.parent:last-child:before {
	position: absolute;
	content: '';
	left: 44px;
	bottom: -48px;
	width: 8px;
	height: 8px;
	background: #757a80;
	z-index: 2;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}
.commentlist li .comment-number {
	display: none;
}
.commentlist ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.commentlist li li {
	padding: 0 0 0 64px;
	margin: 0;
}
.commentlist li li:after {
	left: 47px;
	top: 48px;
	width: 64px;
	height: 1px;
	z-index: 3;
}
.commentlist li li:last-child:after {
	display: block;
}
.commentlist ul ul {
	margin: 0;
	border-bottom: 0;
}
.commentlist li li li:after {
	left: -16px;
	width: 94px;
}
.commentlist li li li li:after {
	left: -80px;
	width: 158px;
}
.commentlist li li li li li:after {
	left: -144px;
	width: 222px;
}

	/* ------------------------------ Comment Content */

.comment-body {
	margin: 0;
	position: relative;
	overflow: auto;
}
.comment-body .comment-text {
	padding-left: 112px;
	padding-bottom: 64px;
	padding-right: 2em;
	position: relative;
}
.comment-body .comment-text p {
	margin: 1em 0;
}
.comment-body .comment-text p:first-child {
	margin-top: 0;
}
.comment-body .unlock {
	font-weight: 700;
}
.comment-body .comment-info {
	margin: 1.4em 0 0.4em;
	padding-left: 112px;
}
.comment-body .comment-info .comment-avatar {
	position: absolute;
	top: 16px;
	left: 16px;
	width: 64px;
	height: 64px;

	-webkit-border-radius: 128px;
	border-radius: 128px;

	border: 1px solid #2e3033;
	margin: -2px 0 0 -2px;
	background: #757a80;

	overflow: hidden;
	
	z-index: 4;
}
.comment-body .comment-info .comment-fn {
	font-size: 1.2em;
	font-style: normal;
	font-weight: 600;
	color: #2e3033;
	margin-right: 0.4em;
}
.bypostauthor .comment-body .comment-info .comment-fn {}
.comment-body .comment-info .comment-fn a {
	font-weight: inherit;
}
.bypostauthor .comment-body .comment-info .comment-fn a {}
.comment-body .comment-info .comment-date {
	color: #b6babf;
	font-weight: 300;
}
.comment-body .comment-reply {
	display: block;
	float: right;
}
.comment-body .comment-reply a {
	color: #757a80;
	background: #dadce0;
	padding: 4px 8px;
	border: 0;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.comment-body .comment-reply a:hover,
.comment-body .comment-reply a:focus {
	color: #fff;
	background: #2e3033;
}
.comment-body .comment-reply i {
	margin: 0;
}
.comment-body .comment-reply span {
	display: none;
}

	/* ------------------------------ Pingbacks */

.pingback {
	padding: 30px 0 30px 10px;
}
.pingback .comment-body {
	padding: 0;
}
.pingback .comment-body .comment-avatar img,
.pingback .comment-body .comment-reply {
	display: none;
}
.pingback .comment-body .comment-avatar:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 64px;
	height: 64px;
	line-height: 64px;
	text-align: center;
	margin: 1px 0 0 1px;
	color: #b6babf;
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: normal;
	font-size: 2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: '\f0c1';
	z-index: 5;
}

	/* ------------------------------ Commentform */

#respond-wrapper .inner {
	position: relative;
}
.comment-respond {
	padding: 64px 0 128px;
}
.commentlist .comment-respond {
	margin-left: 112px;
	padding: 8px 0 64px;
}
.commentlist ul .comment-respond {
	margin-left: 24px;
}
.comment-reply-title {
	position: relative;
	padding: 0;
	margin-top: 0;
}
#cancel-comment-reply-link {
	position: absolute;
	right: 0;
	top: 0;
	
	color: #fff;
	margin: 0;
	padding: 0 0.5em;
	background: #cc3314;

	font-weight: 400;
	text-decoration: none !important;
	
	-webkit-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
	
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-border-radius: 2px;
	border-radius: 2px;
}
#cancel-comment-reply-link:hover,
#cancel-comment-reply-link:focus {
	background: #a62911;
}
#cancel-comment-reply-link span {
	display: none;
}
#commentform {
	padding: 0;
	margin: 2em 0 0;
}
#commentform a {}
#commentform p {
	margin: 16px 0;
	overflow: auto;
}
#commentform p.comment-form-author,
#commentform p.comment-form-email,
#commentform p.comment-form-url {
	width: 30.66666666666667%;
	margin-right: 4%;
	float: left;
}
#commentform p.comment-form-url {
	margin-right: 0;
}
#commentform p.comment-form-comment {
	clear: both;
	margin-top: 0;
	margin-bottom: 24px;
}
#commentform .commentform-info {
	width: 100%;
}
#commentform label {
	padding: 0;
	margin: 0;
	font-size: 0.875em;
	font-weight: 700;
	color: #2e3033;
}
#commentform .req {
	margin-left: 4px;
	font-weight: 300;
}
#commentform .req i {
	font-size: 0.5em;
	vertical-align: super;
	color: #ff9500;
}
#commentform #submit {}

/* ==========================================================================
   Media Queries - Smaller than 640px
   ========================================================================== */


@media only screen and (max-width: 640px) {
	#commentform p.comment-form-author,
	#commentform p.comment-form-email,
	#commentform p.comment-form-url {
		width: auto;
		margin-right: 0;
		float: none;
	}
	.commentlist li li {	
		padding: 0 0 0 48px;
	}
	.commentlist li li:after {
    	width: 16px;
    }
	.commentlist li li li {	
		padding: 0 0 0 24px;
	}
	.commentlist li li li:after {
		left: 0;
		width: 38px;
	}
	.commentlist li li li li:after {
		left: -24px;
		width: 62px;
	}
	.commentlist li li li li li:after {
		left: -48px;
		width: 86px;
	}
	.commentlist ul .comment-respond {
		margin-left: 0;
	}
}

/* ==========================================================================
   Media Queries - Smaller than 480px
   ========================================================================== */


@media only screen and (max-width: 480px) {
	.comment-body .comment-info .comment-avatar {
		height: 48px;
		left: 4px;
		width: 48px;
	}
	.pingback .comment-body .comment-avatar:before {
		width: 48px;
		height: 48px;
		line-height: 48px;
		margin: 1px 0 0 1px;
		font-size: 1.6em;
	}
	.comment-body .comment-info,
	.comment-body .comment-text {
		padding-left: 64px;
	}
	.comment-body .comment-text {
		padding-top: 24px;
		padding-right: 0;
	}
	li li .comment-body .comment-text {
		padding-left: 32px;
	}
	li li li .comment-body .comment-text {
		padding-left: 16px;
	}
	li li li li .comment-body .comment-text {
		padding-left: 0;
	}
	.commentlist li:after {
		left: 27px;
	}
	.commentlist li li {
		padding: 0 0 0 32px;
	}
	.commentlist li li:after {
		left: 27px;
		top: 39px;
		width: 7px;
	}
	.commentlist li li li {
		padding: 0 0 0 16px;
	}
	.commentlist li li li:after {
		left: -4px;
		width: 22px;
	}
	.commentlist li li li li:after {
		left: -20px;
		width: 38px;
	}
	.commentlist li li li li li:after {
		left: -36px;
		width: 54px;
	}
	.comment-body .comment-info .comment-date {
		display: none;
	}
	.commentlist li.depth-1.parent:last-child:before {
		left: 24px;
	}
	.commentlist .comment-respond {
		margin-left: 64px;
	}
	.commentlist ul .comment-respond {
		margin-left: 32px;
	}
	.commentlist ul ul .comment-respond {
		margin-left: 16px;
	}
	.commentlist ul ul ul .comment-respond {
		margin-left: 0;
	}
}