.frontpage-section {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.section-header {
	padding-bottom: 1em;
	margin-bottom: 2em;
	border-bottom: 1px solid #e4e6eb;
	overflow: auto;
}
.section-title {
	float: left;
	font-size: 0.875em;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #757a80;
	margin: 0;
	padding: 0;
}
.section-more {
	float: right;
	font-size: 0.875em;
	font-weight: 300;
	line-height: 1em;
}
.section-more a {
	position: relative;
	font-weight: 300;
	color: #2996cc;
	padding-left: 1em;
	white-space: pre;
	display: inline-block;
}
.section-more a:hover,
.section-more a:focus {
	color: #1f7099;
}
.section-more a:after {
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: '\f0da';
	position: absolute;
	top: 0.1em;
	left: 0.2em;
	padding: 0;
	margin: 0;
	width: auto;
	color: #ff9500;
}
.section-aside {}
.section-aside p {
	margin: 0 0 1em;
}


#logo-image {
	margin-top: -12%;
	margin-bottom: -6%;
}
#logo-name {
	display: block;
	text-align: center;
	margin: auto;
	font-family: 'PoliticsHeadBold', 'Open Sans', sans-serif;
	font-size: 1.6em;
	line-height: 0.875em;
}

/* ==========================================================================
   Blog Posts
   ========================================================================== */


#section-blog {
	padding: 64px 0;
}
#section-blog .inner {
	width: 90% !important;
	max-width: 90em;
}

.featured-post.post {
	float: left;
	width: 30.666%;
	padding: 1px 0;
	margin-right: 4%;
	margin-bottom: 6em;
	position: relative;
	border: 0;
}
.featured-post.post.sticky .post-inner:after {
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: '\f02e';
	position: absolute;
	font-size: 2em;
	top: 1px;
	right: 8px;
	padding: 0;
	margin: 0;
	width: auto;
	color: #cc3314;
}
.featured-post.post.post-count-3,
.featured-post.post.post-count-6,
.featured-post.post.post-count-9,
.featured-post.post.post-count-12 {
	margin-right: 0;
}
.featured-post.post.post-count-4,
.featured-post.post.post-count-7,
.featured-post.post.post-count-10 {
	clear: both;
}
.featured-post .post-thumbnail {
	float: none;
	width: 100%;
	height: 0;
	padding-bottom: 62.5%;
	margin: 0 auto 2.4em;
}
.featured-post .post-video {
	float: none;
	width: 100%;
	margin: 0 auto 2.4em;
	height: 0;
	padding-bottom: 62.5%;
}
.no-js .featured-post .post-video {
	padding-bottom: 62.5%;
}
.featured-post .post-header {
	min-height: 6.4em;
	margin-bottom: 0.8em;
}
.featured-post .post-title {
	font-size: 1.6em;
	line-height: 1.2em;
	text-indent: -1px;
}
.featured-post .post-meta {}
.featured-post .post-article {
	-webkit-column-count: 1 !important;
	-moz-column-count: 1 !important;
	column-count: 1 !important;
}




.secondary-post.post {
	float: left;
	width: 22%;
	padding: 1px 0;
	margin-right: 4%;
	margin-bottom: 6em;
	position: relative;
	border: 0;
}
.secondary-post.post.sticky .post-inner:after {
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: '\f02e';
	position: absolute;
	font-size: 1.2em;
	top: 1px;
	right: 8px;
	padding: 0;
	margin: 0;
	width: auto;
	color: #cc3314;
}
.secondary-post.post.post-count-4,
.secondary-post.post.post-count-8 {
	margin-right: 0;
}
.secondary-post.post.post-count-5 {
	clear: both;
}
.secondary-post .post-header {
	min-height: 6.8em;
	margin-bottom: 0.8em;
}
.secondary-post .post-title {
	font-weight: 700;
	font-size: 1.1em;
	line-height: 1.4em;
}
.secondary-post .post-meta {}
.secondary-post .post-article {
	font-size: 0.9em;
	-webkit-column-count: 1 !important;
	-moz-column-count: 1 !important;
	column-count: 1 !important;
}


#secion-blog-more {
	text-align: center;
	width: 62.5%;
	border-top: 1px solid #e4e6eb;
	margin: auto;
	padding: 24px 0 0;
}
#secion-blog-more a {
	display: block;
	padding: 16px 0;
	color: #2e3033;
}



.home.page .post.activated {
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.625, -0.625, 0.375, 0.375), opacity 0.8s ease-in;
	transition: transform 0.6s cubic-bezier(0.625, -0.625, 0.375, 0.375), opacity 0.8s ease-in;
	opacity: 1;
}
.home.page .post.activated {
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	opacity: 0;
}

/* ==========================================================================
   Blog More
   ========================================================================== */

#section-social {
	padding: 0;
	border-top: 1px solid #e4e6eb;
}
#section-social .inner {
	width: 90% !important;
	max-width: 90em;
	border-left: 1px solid #e4e6eb;
	border-right: 1px solid #e4e6eb;
}

a.sp {
	line-height: 64px;
	padding: 0 12px;
	font-size: 2em;
	float: left;
	border: 1px solid #e4e6eb;
	margin: -1px 0 -1px -1px;
	cursor: pointer;
	text-align: center;
}
a.sp-newsletter {
	float: right;
	margin: -1px -1px -1px 0;
	color: #2e3033;
}
a.sp-rss {
	float: right;
	margin: -1px -1px -1px 0;
	color: #f60;
}
a.sp-twitter {
	color: #3ea9dd;
}
a.sp-facebook {
	color: #3c5a98;
}
a.sp-googleplus {
	color: #d14836;
}
a.sp-youtube {
	color: #c6312b;
}
a.sp:hover,
a.sp:focus {
	background: #fff;
}


.section-newsletter {
	display: none;
	padding: 24px;
	background: #fff;
	border-bottom: 1px solid #e4e6eb;
}
.no-js .section-newsletter {
	display: block;
}
.section-newsletter p {
	margin: 0 0 16px;
}


#newsletter-form {
	position: relative;
	overflow: auto;
	margin: auto;
}
#newsletter-email {
	float: left;
	width: 75%;
	margin: 0;
	padding-top: 16px;
	padding-bottom: 16px;
	
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#newsletter-email:hover {}
#newsletter-email:focus {}
#newsletter-submit {
	float: left;
	width: 25%;
	padding-top: 17px;
	padding-bottom: 17px;
	
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#newsletter-submit:hover {}
#newsletter-submit:focus {}



/* ==========================================================================
   Widgets
   ========================================================================== */


#section-widgets {
	padding: 96px 0;
	position: relative;
	background: #fff;
	border-top: 1px solid #e4e6eb;
}
#section-widgets .inner {
	width: 90% !important;
	max-width: 90em;
}

.frontpage-widget.widget {
	padding: 1px 0;
	float: left;
	width: 33.333%;
}
.frontpage-widget.widget .widget-inner {
	margin: 32px;
}







/* ==========================================================================
   Media Queries - Smaller than 1280px
   ========================================================================== */

@media only screen and (max-width: 1280px) {}

/* ==========================================================================
   Media Queries - Smaller than 960px
   ========================================================================== */


@media only screen and (max-width: 960px) {
	#logoless {
		font-size: 3.75em;
	}
	.featured-post.post {
		width: 48%;
	}
	.featured-post.post.post-count-3,
	.featured-post.post.post-count-9 {
		margin-right: 4%;
	}
	.featured-post.post.post-count-4,
	.featured-post.post.post-count-10 {
		clear: none;
	}
	.featured-post.post.post-count-2,
	.featured-post.post.post-count-4,
	.featured-post.post.post-count-6,
	.featured-post.post.post-count-8,
	.featured-post.post.post-count-10,
	.featured-post.post.post-count-12 {
		margin-right: 0;
	}
	.featured-post.post.post-count-1,
	.featured-post.post.post-count-3,
	.featured-post.post.post-count-5,
	.featured-post.post.post-count-7,
	.featured-post.post.post-count-9,
	.featured-post.post.post-count-11 {
		clear: none;
	}
	.secondary-post.post {
		width: 48%;
	}
	.secondary-post.post.post-count-2,
	.secondary-post.post.post-count-4,
	.secondary-post.post.post-count-6,
	.secondary-post.post.post-count-8 {
		margin-right: 0;
	}
	.secondary-post.post.post-count-3 {
		clear: both;
	}
}

/* ==========================================================================
   Media Queries - Smaller than 640px
   ========================================================================== */


@media only screen and (max-width: 640px) {
	#logoless {
		font-size: 2em;
	}
	.featured-post.post {
		float: none;
		width: auto;
		margin-right: 0 !important;
	}
	.featured-post .post-inner {
		min-height: 0;
	}
	.featured-post .post-header {
		min-height: 0;
	}
	.featured-post .post-video {
		margin: 0 auto 2.4em;
		height: auto;
		padding-bottom: 0;
	}
	.secondary-post.post {
		float: none;
		width: auto;
		margin-right: 0 !important;
	}
	.secondary-post .post-header {
		min-height: 0;
	}
	#section-social .inner {
		width: auto !important;
		margin: 0 -1px -1px;
	}
	.frontpage-widget.widget {
		float: none;
		width: auto;
	}
	.frontpage-widget.widget .widget-inner {
		margin: 0 0 64px;
	}
	
	a.sp {
		padding: 0;
		float: left;
		border-right: 0;
		margin: -1px 0 0 -1px;
		width: 50%;
	}
}

/* ==========================================================================
   Media Queries - Smaller than 480px
   ========================================================================== */

@media only screen and (max-width: 480px) {
	.featured-post .post-thumbnail,
	.featured-post .post-video {
		margin: 0 auto 1.2em;
	}
}