.frontpage-section {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.section-header {
	padding-bottom: 1em;
	margin-bottom: 2em;
	border-bottom: 1px solid #e4e6eb;
	overflow: auto;
}
.section-title {
	float: left;
	font-size: 0.875em;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #757a80;
	margin: 0;
	padding: 0;
}
.section-more {
	float: right;
	font-size: 0.875em;
	font-weight: 300;
	line-height: 1em;
}
.section-more a {
	position: relative;
	font-weight: 300;
	color: #2996cc;
	padding-left: 1em;
	white-space: pre;
	display: inline-block;
}
.section-more a:hover,
.section-more a:focus {
	color: #1f7099;
}
.section-more a:after {
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: '\f0da';
	position: absolute;
	top: 0.1em;
	left: 0.2em;
	padding: 0;
	margin: 0;
	width: auto;
	color: #ff9500;
}
.section-aside {}
.section-aside p {
	margin: 0 0 1em;
}


#logo-image {
	margin-top: -12%;
	margin-bottom: -6%;
}
#logo-name {
	display: block;
	text-align: center;
	margin: auto;
	font-family: 'PoliticsHeadBold', 'Open Sans', sans-serif;
	font-size: 1.6em;
	line-height: 0.875em;
}

/* ==========================================================================
   Blog Posts
   ========================================================================== */


#section-blog {
	padding: 64px 0;
}
#section-blog .inner {
	width: 90% !important;
	max-width: 90em;
}
#masonry {
	margin: 0 -24px;
}
.no-js #masonry {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}
.featured-post.post {
	width: 33.333%;
	padding: 1px 0;
	margin-bottom: 32px;
	position: relative;
	border: 0;
}
.featured-post.post.sticky:nth-child(1) {
	width: 66.666%;
}
.no-js .featured-post.post {
	width: auto !important;
}
.featured-post.post .post-inner {
	margin: 0 24px;
	padding: 24px 0 32px;
	border-bottom: 1px solid #dadce0;
}
.featured-post.post.sticky .post-inner:after {
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: '\f02e';
	position: absolute;
	font-size: 2em;
	top: 25px;
	right: 32px;
	padding: 0;
	margin: 0;
	width: auto;
	color: #cc3314;
}
.featured-post .post-thumbnail {
	float: none;
	width: 100%;
	height: 0;
	padding-bottom: 62.5%;
	margin: 0 auto 1.6em;
}
.featured-post .post-video {
	float: none;
	width: 100%;
	margin: 0 auto 2.4em;
	height: 0;
	padding-bottom: 62.5%;
}
.no-js .featured-post .post-video {
	padding-bottom: 62.5%;
}
.featured-post .post-header {
	margin-bottom: 1.2em;
}
.featured-post .post-title {
	font-size: 1.6em;
	line-height: 1.2em;
	text-indent: -1px;
	font-weight: 700;
}
.featured-post .post-meta {}
.featured-post .post-article {
	-webkit-column-count: 1 !important;
	-moz-column-count: 1 !important;
	column-count: 1 !important;
}



#secion-blog-more {
	width: 100%;
	text-align: center;
	margin: 0 auto -64px;
	padding: 0;
}
#secion-blog-more a {
	display: inline-block;
	padding: 24px 32px;
	color: #2e3033;
	border: 1px solid #e4e6eb;
	border-bottom: 0;
	background: #fff;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
#secion-blog-more a:hover,
#secion-blog-more a:focus {
	background: #f9f9f9;
}


/* ==========================================================================
   Widgets
   ========================================================================== */


#section-widgets {
	padding: 96px 0;
	position: relative;
	background: #fff;
	border-top: 1px solid #e4e6eb;
}
#section-widgets .inner {
	width: 90% !important;
	max-width: 90em;
}

.frontpage-widget.widget {
	padding: 1px 0;
	float: left;
	width: 33.333%;
}
.frontpage-widget.widget .widget-inner {
	margin: 32px;
}







/* ==========================================================================
   Media Queries - Smaller than 1280px
   ========================================================================== */

@media only screen and (max-width: 1280px) {}

/* ==========================================================================
   Media Queries - Smaller than 960px
   ========================================================================== */


@media only screen and (max-width: 960px) {
	.no-js #masonry {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
	.featured-post.post {
		width: 50%;
	}
	.featured-post.post.sticky:nth-child(1) {
		width: 100%;
	}
}

/* ==========================================================================
   Media Queries - Smaller than 640px
   ========================================================================== */


@media only screen and (max-width: 640px) {
	.no-js #masonry {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
	.featured-post.post {
		float: none;
		width: auto;
	}
	.featured-post .post-inner {
		min-height: 0;
	}
	.featured-post .post-header {
		min-height: 0;
	}
	.featured-post .post-video {
		margin: 0 auto 2.4em;
		height: auto;
		padding-bottom: 0;
	}
	.frontpage-widget.widget {
		float: none;
		width: auto;
	}
	.frontpage-widget.widget .widget-inner {
		margin: 0 0 64px;
	}
}

/* ==========================================================================
   Media Queries - Smaller than 480px
   ========================================================================== */

@media only screen and (max-width: 480px) {
	.featured-post .post-thumbnail,
	.featured-post .post-video {
		margin: 0 auto 1.2em;
	}
}