	/* ------------------------------ Shortcodes - Coloumns*/

.two-columns-one {
	width: 48%;
}
.three-columns-one {
	width: 30.66666666666667%;
}
.three-columns-two {
	width: 65.333%;
}
.four-columns-one {
	width: 22%;
}
.four-columns-two {
	width: 48%;
}
.four-columns-three {
	width: 74%;
}
.two-columns-one,
.three-columns-one,
.three-columns-two, 
.four-columns-one, 
.four-columns-two, 
.four-columns-three {
	position: relative;
	float: left;
	margin-right: 4%;
	margin-bottom: 0;
}
.last {
	clear: right;
	margin-right: 0;
}
.divider {
	width: 100%;
	margin-bottom: 1em;
	padding-top: 1em;
	display: block;
	clear: both;
}

	/* ------------------------------ Shortcodes - Buttons */
.standard-btn {
	display: inline-block;
	margin-top: 32px;
	margin-left: 4px;
	margin-right: 12px;
	padding: 0.75em 1em;
	overflow: hidden;
	cursor: pointer;
	font-size: 1em;
	text-align: center;
	font-weight: 400;
	text-decoration: none !important;
	border: 0;
	
	-webkit-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
	
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-border-radius: 2px;
	border-radius: 2px;

	color: #fff !important;
	background: #757a80;
}
.standard-btn:hover,
.standard-btn:focus {
	background: #2e3033;
	color:#fff !important;
}
.round-btn {
	-moz-border-radius: 10em;
	border-radius: 10em;
}
.bold-btn {
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
}
.standard-btn.xsmall-btn.bold-btn {
	font-size:10px;
}
.standard-btn.small-btn.bold-btn {
	font-size:12px;
}
.standard-btn.bold-btn {
	font-size:14px;
}
.standard-btn.large-btn.bold-btn {
	font-size:16px;
}
.standard-btn.xlarge-btn.bold-btn {
	font-size:18px;
}
.standard-btn.xsmall-btn {
	padding: 0.25em 0.75em;
	font-size: 0.75em;
}
.standard-btn.small-btn {
	padding: 0.5em 1em;
	font-size: 0.875em;
}
.standard-btn.large-btn {
	padding: 1em 1.25em;
	font-size: 1.125em;
}
.standard-btn.xlarge-btn {
	padding: 1.25em 1.5em;
	font-size: 1.25em;
}

.orange-btn {
	background: #ff9500;
}
.orange-btn:hover,
.orange-btn:focus {
	background: #ff6a00;
}
.blue-btn {
	background: #2996cc;
}
.blue-btn:hover,
.blue-btn:focus {
	background: #1f7099;
}


.red-btn {
	background: #cc3314;
}
.red-btn:hover,
.red-btn:focus {
	background: #a62911;
}
.green-btn {
	background: #89b336;
}
.green-btn:hover,
.green-btn:focus {
	background: #75992e;
}


@media only screen and (max-width: 640px)  {
	.two-columns-one,
	.three-columns-one,
	.three-columns-two,
	.four-columns-one,
	.four-columns-two,
	.four-columns-three {
		float: none;
		width: 100%;
		margin-right: 0;
	}
	.divider {
		margin-bottom: 1.5em;
		padding-top: 1.5em;
	}
}