	/* ------------------------------ Alignments */

.alignnone {
	margin: 32px 0;
}
.aligncenter {
	display: block;
	margin: 32px auto;
}
.alignleft {
	float: left;
	margin: 8px 24px 32px -12.5%;
}
.alignright {
	float: right;
	margin: 8px -12.5% 32px 24px;
}


.size-thumbnail {}
.alignleft.size-thumbnail,
.alignright.size-thumbnail {
	max-width: 25%;

}


.size-small {}
.size-small.alignleft,
.size-small.alignright {
	max-width: 25%;
}


.size-medium {}
.size-medium.alignleft,
.size-medium.alignright {
	max-width: 62.5%;
}

.size-large {}
.size-large.aligncenter {
	width: 125% !important;
	max-width: none;
	margin: 32px -12.5%;
}
.alignleft.size-large,
.alignright.size-large {
	max-width: 62.5%;
}


.size-full {}
.size-full.aligncenter {
	width: 125% !important;
	max-width: none;
	margin: 32px -12.5%;
}
.size-full.alignleft,
.size-full.alignright {
	max-width: 62.5%;
}


	/* ------------------------------ Caption */

.wp-caption {
	max-width: 100%;
	height: auto;
    font-size: 0.875em;
}
.wp-caption .wp-caption-text {
	display: block;
	text-align: center;
	margin: 0 8px;
	padding: 0;
	color: #757a80;
}
.alignright .wp-caption-text {
	text-align: right;
}
.alignleft .wp-caption-text {
	text-align: left;
}
.wp-caption .wp-caption-text a,
.wp-caption .wp-caption-text a:active
.wp-caption .wp-caption-text a:visited {
	color: inherit;
	text-decoration: underline;
}
.wp-caption .wp-caption-text a:hover,
.wp-caption .wp-caption-text a:focus {
	text-decoration: none;
}

	/* ------------------------------ Gallery */

.gallery {
	width: 125%;
	max-width: none;
	margin: 3.2em -12.5%;
	font-size: 0.8em;
	line-height: 1.2em;
}
.gallery .gallery-item {
	position: relative;
	float: left;
	margin: 0;
	overflow: hidden;
	-webkit-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.gallery:hover .gallery-item img {
	opacity: 0.625;
}
.gallery:hover .gallery-item:hover img {
	opacity: 1;
}
.gallery-columns-1 .gallery-item {
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-3 .gallery-item {
	width: 33.333%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery-columns-5 .gallery-item {
	width: 20%;
}
.gallery-columns-6 .gallery-item {
	width: 16.666%;
}
.gallery-columns-7 .gallery-item {
	width: 14.285%;
}
.gallery-columns-8 .gallery-item {
	width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	width: 11.111%;
}
.gallery .gallery-item .gallery-icon {
	float: none;
	clear: both;
	margin: 0;
	width: auto;
}
.gallery .gallery-item .gallery-icon img {
	display: block;
	width: 100%;
	height: auto;

	-webkit-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

.gallery .gallery-item .gallery-caption {
	position: absolute;
	left: 0;
	bottom: -100px;
	width: 95%;
	background: rgba(0,0,0,0.625);
	display: block;
	text-align: center;
	margin: 0;
	padding: 12px 2.5%;
	color: #fff;

	-webkit-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.gallery .gallery-item:hover .gallery-caption,
.gallery .gallery-item:focus .gallery-caption {
	bottom: 0;
}

.gallery .gallery-item .gallery-caption a,
.gallery .gallery-item .gallery-caption a:active
.gallery .gallery-item .gallery-caption a:visited {
	color: inherit;
	text-decoration: underline;
}
.gallery .gallery-item .gallery-caption a:hover,
.gallery .gallery-item .gallery-caption a:focus {
	text-decoration: none;
}

.wp-smiley {
	display: inline;
	margin: 0 0.4em;
	vertical-align: sub;
}


/* ==========================================================================
   Media Queries - Smaller than 480px
   ========================================================================== */


@media only screen and (max-width: 480px) {
	.alignnone,
	.aligncenter,
	.alignleft,
	.alignright,
	.size-thumbnail,
	.size-small,
	.size-medium,
	.size-large,
	.size-full {
		float: none !important;
		margin: 2.4em auto !important;
		width: auto !important;
		max-width: 100% !important;
	}
	.alignnone img,
	.aligncenter img,
	.alignleft img,
	.alignright img {
		margin: auto !important;
	}
	.gallery {
		width: auto;
		margin: 3.2em auto;
		overflow: auto;
	}
	.gallery-item {
		width: 50% !important;
	}
	.gallery:hover .gallery-item img {
		opacity: 1;
	}
	.gallery br {
		display: none !important;
	}
	.alignright .wp-caption-text,
	.alignleft .wp-caption-text {
		text-align: center;
	}
}